body{
    width: 600px;
    height:auto;
    font-size: 40px;
    color: blue;
    margin: 20%;
    text-shadow: -1px 2px 3px #61dac9;
    background-color: #000;
    opacity: 2.9;
    flex-wrap: wrap;
    flex-direction: row;
}
h2{
   flex-grow: calc(2.4);
   text-indent: 10%; 
   color: blueviolet;

}
p{
    color: aliceblue;
    margin-left: 10%;
    text-align: center;
}
